<div class="ui container grid">
  
  <div class="sixteen wide column">
    <h2 class="ui header dividing green">Crea tu parametro</h2>
  </div>

  <div class="ten wide column">
    <form class="ui form" action="" method="post">
      <!--<div class="ui four fields">-->
        
        <div class="ui field">
          <label>Elije el test</label>
          <select class="ui search dropdown" name="selectTest">
            <option value="1">test 1</option>
            <option value="1">test 2</option>
            <option value="1">test 3</option>
            <option value="1">test 4</option>
          </select>
        </div>
          <label>Nombre</label>
          <input type="text" name="txtNombre" placeholder="Nombre">
        <div class="ui field">
          <label>Valor</label>
          <input type="text" name="txtValor" placeholder="Valor">
        </div>

        <div class="ui field">

        </div>

      <!--</div>-->
    </form>
  </div>

</div>