<div class="ui container grid stackable">
  <div class="ten wide column">
    <h1 class="ui header dividing">Inicio</h1>
  </div>

  <div class="ui container grid stackable">
     <div class="ten wide column">
      <h5 class="ui header dividign">Test disponibles</h5>
     </div>
     <div class="ui container grid stackable">
      <div class="grouped fields">
        <div class="field">
          <div class="ui slider checkbox">
            <input type="radio" name="newsletter">
            <label>HDI</label>
          </div>
        </div>
        <div class="field">
          <div class="ui slider checkbox">
            <input type="radio" name="newsletter">
            <label>Guanajoven</label>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>